* {
    color: white;
}

header{
    padding: 0;
    height: auto;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.imgLogo{
    height: 80px;
}
.w100{
    width: 100%;
}
.border-b {
    border-bottom: 1px solid;
}

.a-reset {
padding: 20px;
}

.ADMcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.linksContainer {
    width: 20%;
    height: 100%;
}

.Graficos{
    width: 80%;
    max-height: 100%;
}

.bodyAdmContainer {
    width: 80%;
    height: 500px;
    margin-bottom: 100px;
}

.paddingtop100{
    padding-top: 30px;
}

.DashboardC{
    display: flex;
    height: 80%;
    background-color: #171925;
    border-radius: 10px;
    margin-bottom: 200px;
}

.bordertitle{
    border-bottom: 1px solid #E75DFF;
    padding: 5px;
}