@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: auto;
}

:root {
    --main-BG-color: #101524;
    --RoxoForte-color: #171925;
    --CinzaFraco-color: #192026;
    --Destaque-color: #E75DFF;
    --RosaClarinho-color: #FFA3FD;
    --RoxoClaro-color: #865DFF;
    --RoxoClaroHover-color: #622efe;
    --VerdeCarrinho-color: #008000;
    --VerdeCarrinhoHover-color: #005c00;
    --VermelhoFav-color: #BA1B1B;
    --VermelhoFavHover-color: #a31b1b;
    --VermelhoRemFav-color: #8b0000;
    --VermelhoRemFavHover-color: #6b0101;
    --Amarelo: #E8BB00;
    --AmareloHover: #c5a00d;
    --CinzaClaro: #808080;
    --CinzaClaroHover: #515151;
}

.letraBranca {
    color: white;
}

.letraRosa {
    color: var(--Destaque-color);
    font-weight: 600;
    margin: 0;
}

.container {
    background-color: var(--main-BG-color);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    width: 80%;
    height: auto;
    background-color: var(--RoxoForte-color);
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 20px;
    flex-direction: row;
    gap: 20px;

    border: 1px solid var(--RoxoClaro-color);
}

.quadradoEsq {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    border: 1px solid white;
}

.quadradoDir {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;

    border: 1px solid white;
}

.fotoUsuario {
    border: 1px solid yellow;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
}

.conteudo {
    width: 100%;
    height: 100%;
    display: flex;
}